@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative");
body {
  margin: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fire {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.06);
  }
}
@keyframes light {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.4);
  }
}
#landingPage {
  background-image: url(../resources/landingBG.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 828px) {
  #landingPage {
    background-position: center;
    background-repeat: repeat;
  }
}

/*
#LandingPageContent{
    border: 1px solid black;
    padding: 15px;
    background-color: grey;
    width: 25%;
    margin: 20px auto;
}
*/
.logo {
  width: 100%;
  margin-top: 100px;
}
.logo .image {
  display: block;
  margin: 15px auto;
}
.logo .title {
  text-align: center;
  font-size: 25px;
  margin: 15px;
  font-family: "Cinzel Decorative", cursive;
}

.playBtn {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 20px;
}
.playBtn a {
  border: 1px solid black;
  background-color: #2b2b2b;
  color: white;
  padding: 10px 55px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 18px;
  box-shadow: 0 10px 10px 0 black;
}

#characterSelect {
  background-image: url(../resources/winBG.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b2b2b;
  margin: 0;
}

#char-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 30px;
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 25px;
  background-color: #2b2b2b;
}
@media screen and (max-width: 828px) {
  #char-title {
    font-size: 16px !important;
  }
}
#char-title #players {
  width: 300px;
  margin: 25px auto;
}
@media screen and (max-width: 828px) {
  #char-title #players {
    width: 100%;
    text-align: center;
  }
}
#char-title #players #playerOneChar {
  display: block;
  width: 350px;
  color: white;
  padding: 10px 20px;
  background-color: #2b2b2b;
}
@media screen and (max-width: 828px) {
  #char-title #players #playerOneChar {
    margin: 20px auto;
    width: 100%;
  }
}
#char-title #players #playerTwoChar {
  display: none;
  width: 350px;
  color: white;
  padding: 10px 20px;
  background-color: #2b2b2b;
}
@media screen and (max-width: 828px) {
  #char-title #players #playerTwoChar {
    margin: 20px auto;
    width: 100%;
  }
}
#char-title #playerButton {
  display: none;
  margin: 55px;
}
#char-title #playerButton a {
  border: 1px solid black;
  padding: 10px 15px;
  text-decoration: none;
  background-color: white;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
@media screen and (max-width: 828px) {
  .characters {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.characters .titles {
  text-align: center;
  padding: 25px;
  margin: 10px;
}
.characters .char, .characters .playerCharacter {
  border: 1px solid black;
  margin: 25px;
  text-align: center;
  padding: 20px;
  background-color: #2b2b2b;
  color: white;
}
@media screen and (max-width: 828px) {
  .characters .char, .characters .playerCharacter {
    width: 50%;
    margin: 25px auto;
  }
}
.characters .char .selectBtn, .characters .playerCharacter .selectBtn {
  text-align: center;
  padding: 10px 15px;
  border-radius: 15px;
  text-decoration: none;
  margin: 15px auto;
  color: white;
  background-color: #141414;
  display: none;
}
.characters .char .token, .characters .playerCharacter .token {
  margin: 10px;
  border: 2px solid black;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  display: block;
  margin: 5px auto;
}
.characters .char h2, .characters .playerCharacter h2 {
  text-align: center;
  margin: 25px auto;
  font-family: "Cinzel Decorative", cursive;
}

.charTitle {
  display: none;
  width: 65%;
  margin: 15px;
  text-align: center;
}

#game {
  margin: 0;
  padding: 0;
  background-image: url(../resources/landingBG.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1280px) {
  #game {
    background-image: none;
    background-color: #2b2b2b;
  }
}

#GameContainer {
  margin: 0 19%;
  width: 950px;
  max-width: 950px;
  font-family: "Cinzel Decorative", cursive;
  background-image: url(../resources/testmap.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1280px) {
  #GameContainer {
    margin: 15px auto;
  }
}

#openSidebar {
  position: fixed;
  display: none;
  font-size: 18px;
  padding: 2px 15px;
  background-color: #2b2b2b;
  color: white;
}
@media screen and (max-width: 1280px) {
  #openSidebar {
    display: block;
  }
}

#closeSidebar {
  font-size: 18px;
  padding: 2px 15px;
  background-color: #2b2b2b;
  color: red;
  display: none;
}
@media screen and (max-width: 1280px) {
  #closeSidebar {
    display: block;
  }
}

#GameInfo {
  position: fixed;
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  border: 1px solid black;
  width: 250px;
  max-width: 250px;
  height: 100%;
  padding: 5px;
}
@media screen and (max-width: 1280px) {
  #GameInfo {
    visibility: hidden;
    height: 864 !important;
  }
}
#GameInfo #GameTitle {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 12px;
  margin-bottom: 65px;
}
#GameInfo #GameTitle #GameLogo {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 0;
}
#GameInfo #DiceButton button {
  padding: 5px;
  font-size: 15px;
}
#GameInfo #DiceButton #PlayerTurn {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 18px;
  margin-bottom: 30px;
}
#GameInfo #DiceButton #DiceScore {
  border: 1px solid black;
  padding: 15px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 18px;
  min-height: 25px;
}
#GameInfo #DiceButton #TrowDiceButton {
  display: block;
  padding: 5px;
  margin: 0 auto;
  font-size: 20px;
  width: 250px;
  background-color: white;
}
#GameInfo #DiceButton #TrowDiceButton:hover {
  background-color: #b1b1b1;
}
#GameInfo #DiceButton #HiddenDiceButton {
  display: none;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}
#GameInfo #DiceButton #HiddenDiceButton i {
  animation: spin 3.2s linear;
  -webkit-animation: spin 3.2s linear;
}

.Tile_X .Tile {
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}

.Tile_Y {
  margin: 0 68.2%;
}

.Tile_Y .Tile {
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}

.Tile_Y_2 {
  margin: 0 90.9%;
}
.Tile_Y_2 .Tile {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  text-align: center;
}

.Tile_Y_reversed .Tile {
  width: 70px;
  height: 70px;
  display: block;
  border: 1px solid black;
  text-align: center;
}

#playerOne {
  width: 50px;
  height: 50px;
  margin: -50px auto;
  border: 5px solid #0066ff;
  border-radius: 100px;
}

#playerTwo {
  width: 50px;
  height: 50px;
  margin: -50px auto;
  border: 5px solid #119605;
  border-radius: 100px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal .modal-content {
  background-color: #2b2b2b;
  color: white;
  margin: 15% auto;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal #winnerBtn {
  font-family: "Cinzel Decorative", cursive;
  padding: 5px 15px;
  font-size: 17px;
}
.modal #winnerBtn:hover {
  background-color: #2b2b2b;
  color: white;
}

.PlayerInfo {
  margin-top: 30px;
  font-size: 17px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: -85px;
}
@media screen and (max-width: 1280px) {
  .PlayerInfo {
    margin-bottom: 10px;
  }
}
.PlayerInfo #PlayerOne #player1Char {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}
.PlayerInfo #PlayerTwo #player2Char {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}

#PlayerImgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#PlayerImgs #playerOneImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
#PlayerImgs #playerTwoImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

#endgame {
  background-image: url(../resources/winBG.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#winner {
  font-family: "Cinzel Decorative", cursive;
  font-size: 21px;
  padding: 20px;
  color: white;
  text-align: center;
}
#winner #winnerImg {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  border: 15px solid gold;
  box-shadow: 0px 15px 15px 12px #000000a4;
  border-radius: 5px;
}

#victoryContainer {
  display: grid;
  grid-template-columns: 38% 1fr 38%;
  margin-top: 50px;
}
#victoryContainer .torch {
  margin: 50px auto;
}
#victoryContainer .torch .fire {
  position: absolute;
  transform-origin: center bottom;
  animation: fire 0.5s alternate infinite;
}
#victoryContainer .torch .light {
  transform-origin: center;
  animation: light 0.5s linear alternate infinite;
}

#winnerText {
  margin-top: 30px;
  color: white;
  font-size: 50px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}

#newGameBtn {
  width: 160px;
  height: 35px;
  display: block;
  margin: 30px auto;
  font-family: "Cinzel Decorative", cursive;
  font-size: 18px;
}
#newGameBtn:hover {
  background-color: #2b2b2b;
  color: white;
}

/*# sourceMappingURL=main.css.map */
