body {
  margin: 0;
}

#landingPage {
  background-image: url(../../resources/landingBG.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
#LandingPageContent{
    border: 1px solid black;
    padding: 15px;
    background-color: grey;
    width: 25%;
    margin: 20px auto;
}
*/
.logo {
  width: 100%;
  margin-top: 100px;
}
.logo .image {
  display: block;
  margin: 15px auto;
}
.logo .title {
  text-align: center;
  font-size: 25px;
  margin: 15px;
  font-family: "Cinzel Decorative", cursive;
}

.playBtn {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 20px;
}
.playBtn a {
  border: 1px solid black;
  background-color: #2b2b2b;
  color: white;
  padding: 10px 55px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 18px;
  box-shadow: 0 10px 10px 0 black;
}

#characterSelect {
  background-image: url(../../resources/1.jpg);
  background-position: top;
  background-size: contain;
  background-color: #2b2b2b;
  margin: 0;
}

#char-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 30px;
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 25px;
  background-color: #2b2b2b;
}
#char-title #players {
  width: 300px;
  margin: 25px auto;
}
#char-title #players #playerOneChar {
  display: block;
  width: 350px;
  color: white;
  padding: 10px 20px;
  background-color: #2b2b2b;
}
#char-title #players #playerTwoChar {
  display: none;
  width: 350px;
  color: white;
  padding: 10px 20px;
  background-color: #2b2b2b;
}
#char-title #playerButton {
  display: none;
  margin: 55px;
}
#char-title #playerButton a {
  border: 1px solid black;
  padding: 10px 15px;
  text-decoration: none;
  background-color: white;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.characters .titles {
  text-align: center;
  width: 80%;
  padding: 25px;
  margin: 10px;
}
.characters .char {
  border: 1px solid black;
  margin: 25px;
  padding: 10px;
  background-color: white;
}
.characters .char .selectBtn {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 15px;
  color: white;
  background-color: #2b2b2b;
  display: none;
}
.characters .char .token {
  margin: 10px;
  border: 2px solid #2b2b2b;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  display: block;
  margin: 5px auto;
}
.characters .char h2 {
  width: 50%;
  margin-top: 25px;
}

.charTitle {
  display: none;
  width: 80%;
  margin: 15px;
  text-align: center;
}

#game {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#GameContainer {
  margin-left: 23%;
}

#GameInfo {
  position: fixed;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  padding: 50px;
}
#GameInfo #GameTitle {
  text-align: center;
}
#GameInfo #DiceScore {
  border: 1px solid black;
  padding: 15px;
}

.Tile_X .Tile {
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 1px solid black;
}

.Tile_Y {
  margin: 0 68.2%;
}

.Tile_Y .Tile {
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 1px solid black;
}

.Tile_Y_2 {
  margin: 0 91.2%;
}
.Tile_Y_2 .Tile {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

.Tile_Y_reversed .Tile {
  width: 70px;
  height: 70px;
  display: block;
  border: 1px solid black;
}

#playerOne {
  width: 50px;
  height: 50px;
  margin: -50px auto;
  border: 5px solid #0066ff;
  border-radius: 100px;
}

#playerTwo {
  width: 50px;
  height: 50px;
  margin: -50px auto;
  border: 5px solid #119605;
  border-radius: 100px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal .modal-content {
  background-color: #2b2b2b;
  color: white;
  margin: 15% auto;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/*# sourceMappingURL=main.css.map */
