
#endgame{
    background-image: url(../../resources/winBG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#winner{
    font-family: 'Cinzel Decorative', cursive; 
    padding: 20px;  
    color: white;
    text-align: center;
    //margin-top: -50px;
    #winnerImg{        
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        border: 10px solid rgb(36, 36, 36);
        border-radius: 5px;
    }
}

#victoryContainer{
    display: grid;
    grid-template-columns: 38% 1fr 38%;
    margin-top: 190px;
    .torch{
        margin: 50px auto;
        .fire{
            position: absolute;
            border-style: solid;
            transform-origin: center bottom;
            animation: fire .5s linear alternate infinite;
        }
        .light{
            border-style: solid;
            transform-origin: center;
            animation: light .5s linear alternate infinite;
        }
    }
}