#game{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: grid;
    grid-template-columns: 200px 1fr;
}

#GameInfo{
    background-color: white;
    text-align: left;
    #GameTitle{
        text-align: center;
    }
    p{
        display: inline-block;
        margin-right: 250px;
        margin-left: 50px;
    }
}

.Tile_X {
    .Tile{
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 1px solid black;
    }
}

.Tile_Y {
    margin: 0 68.2%;
}

.Tile_Y{ 
    .Tile{
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 1px solid black;
    }
}

.Tile_Y_2{ 
    margin: 0 91%;
    .Tile{
        width: 70px;
        height: 70px;
        border: 1px solid black;
    }
}

.Tile_Y_reversed{
    .Tile{
        width: 70px;
        height: 70px;
        display: block;
        border: 1px solid black;
    }
}

#playerOne{
    width: 50px;
    height: 50px;
    margin: -50px auto;
    border: 5px solid rgb(0, 102, 255);
    border-radius: 15px;
}

#playerTwo{
    width: 50px;
    height: 50px;
    margin: -50px auto;
    border: 5px solid rgb(17, 150, 5);
    border-radius: 15px;
}