#game{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#GameContainer{
    margin-left: 23%;
    //margin-bottom: 50px;
}

#GameInfo{
    position: fixed;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    #GameTitle{
        text-align: center;
    }
    #DiceScore{
        border: 1px solid black;
        padding: 15px;
    }
}

.Tile_X {
    .Tile{
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 1px solid black;
    }
}

.Tile_Y {
    margin: 0 68.6%;
}

.Tile_Y{ 
    .Tile{
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 1px solid black;
    }
}

.Tile_Y_2{ 
    margin: 0 91.5%;
    .Tile{
        width: 70px;
        height: 70px;
        border: 1px solid black;
    }
}

.Tile_Y_reversed{
    .Tile{
        width: 70px;
        height: 70px;
        display: block;
        border: 1px solid black;
    }
}

#playerOne{
    width: 50px;
    height: 50px;
    margin: -50px auto;
    border: 5px solid rgb(0, 102, 255);
    border-radius: 100px;
}

#playerTwo{
    width: 50px;
    height: 50px;
    margin: -50px auto;
    border: 5px solid rgb(17, 150, 5);
    border-radius: 100px;
}