
// Keyframes for spinning animations
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

// keyframes for torches on the last page
@keyframes fire{
    0% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1.06);
    }
}

@keyframes light{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.4);
    }
}